.App {
  font-family: fantasy;
  color: rgb(27, 82, 27);
}

ul {
  list-style: none;
  margin-top: 50px;
}
h1 {
  font-size: 50px;
}

h2 {
  margin-bottom: 0px;
}

h4 {
  font-size: 15px;
  opacity: 0.8;
}

footer.footnote {
  margin-top: 30px;
  text-align: center;
}

.container {
  max-width: 700px;
  border-radius: 10px;
  border: none !important;
  padding: 30px !important;
  background-color: rgba(3, 53, 3, 0.205);
}

.search-window {
  margin-right: 20px;
}

.main-data {
  margin-top: 30px;
}

.degree-number {
  font-size: 80px;
}

.celsius-sign {
  position: relative;
  top: -35px;
}

.description {
  opacity: 0.8;
}

.time {
  font-size: 40px;
}

.secondary-data {
  font-size: 50px;
  margin-left: 80px;
}

.unit {
  position: relative;
  top: -20px;
}

.weather-icon {
  margin-right: 10px;
}

.conversion-link {
  text-decoration: none;
  color: rgb(24, 171, 24);
  transition: 100ms ease-in-out;
}

.conversion-link:hover {
  font-size: larger;
}

.link {
  text-decoration: none;
  color: rgb(24, 171, 24);
}

.link:hover {
  color: rgb(3, 79, 3);
}
