.App {
  color: black;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}

h4 {
  margin-bottom: 0px;
}

ul {
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
}

footer.footnote {
  margin-top: 100px;
  text-align: center;
}

.container {
  max-width: 700px;
  min-height: 470px;
  border-radius: 10px;
  padding: 30px 30px 0px 30px;
  border: 1px solid black;
  position: relative;
}

.WeatherInfo {
  min-height: max-content;
}

.main-data {
  text-align: center;
}
.search-window {
  margin-right: 20px;
}

.degree-number {
  font-size: 80px;
}

.celsius-sign {
  position: relative;
  top: -35px;
}

.description {
  opacity: 0.8;
  font-size: 15px;
}

.secondary-data {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.unit {
  position: relative;
  top: -20px;
}

.link {
  text-decoration: none;
}

.icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 720px) {
  h1 {
    font-size: 20px;
  }

  .degree-number {
    font-size: 40px;
  }

  img {
    width: 100px;
  }
}
