.WeatherForecast {
  text-align: center;
  width: 620px;
  border: 1px solid black;
  background-color: #e2dfbe;
  border-radius: 10px;
  position: absolute;
  top: 80%;
  left: 40px;
}

.temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

.WeatherForecastDay {
  height: max-content;
  width: max-content;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.weather-icon {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
